<!DOCTYPE html>
<html>
<head>
  <title>Bestcollegesio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
<h1><span>Enginnering College Kota</span></h1>
<h2>Enginnering College Kota</h2>
<h3>Enginnering College Kota</h3>
<h4>Enginnering College Kota</h4>
<h5>Enginnering College Kota</h5>
<h6>Enginnering College Kota</h6>
This is a test for typography in bootstrap. Please remember to include your API key with each call to your API.This code snippet makes use of a third party library. Find more information at: http://rubygems.org/gems/rest-client.
</div>

<%= yield %>

</body>
</html>
